*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.bar{
    background-color: rgb(218, 168, 30);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 5;
}

.navabar{
 
}

.navbar ul{

}

.navbar ul li{
    display: inline-block;
    list-style-type: none;
    margin: 15px 20px;
    transition: .4s;
    
}

.navbar ul li a{
      text-decoration: none; 
      font-size: 17px;
      font-weight: bold;
      color: white;
      transition: .4s;
}

.iletisim{
    float: right;
    background-color: black;
    padding: 10px 12px;
    margin-top: -100px;
    transition: .4s;
}

.iletisim:hover{
    border-radius: 10px;
    transform: scale(1.1);
    
}
.navbar ul li a:hover{
    color: rgb(255, 0, 0);
   
}
.navbar ul li:hover{
    transform: scale(1.1);
}



input[type=text] {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    width: 100%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
   
}
input[type=email] {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    width: 100%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
   
}
input[type=submit] {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    border: none;
    background-color: brown;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    font-size: 19px;
    transition: .4s;
   
}
input[type=submit]:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(33, 202, 27);
}

form{
    width: 500px;
    height: 520px;
    margin:20px 20px;
     border-radius: 5px;
     background-color: rgb(218, 168, 30);
     padding: 50px 20px;
     margin-left: 32%;
}
form textarea {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    width: 100%;
    border: 2px solid #000000;
    box-sizing: border-box;
   
}

form h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}

@media screen and (max-width:650px)  {

    form{
        width: 370px;
        margin-left: 10px;
    }
    
    
    .navbar ul li{
        padding: 0;
        margin: 15px 10px;
    }
    .iletisim{
     background-color: #000000;
     height: 25px;
     width: 95px;
     border-radius: 5px;
     text-align: center;
    }
    .ilk img{
        height: 250px;
    }

   }
   
   

.ilk img{
    height: 70vh;
   margin-top: 49px;
  
   transition: .2s;
    
}


.hakkinda h1{
    margin: 20px 0 ;
    text-align: center;
    font-size: 45px;
    transition: .4s;

}
.hakkinda h3{
     font-size: 20px;
  margin: 0 20px;
    color: red;
    text-decoration:underline ;
}
.hakkinda p{
    margin:0 40px ;
    border:2px solid black;
    padding:10px;
    
}
.alt{
    text-align: center;
    margin: 20px 0;
   
}

.yazı h1{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #fffafa;
    opacity: 100;
    transition: .4s;
   
}
.yazı h1:hover{
    cursor: pointer;
    color: black;
  
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  transition: .4s;

}

.my-float{
	margin-top:16px;
    transition: .4s;

}

.insta{
  	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:90px;
	background-color:#259cd3;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100; 
    transition: .4s;
}

.my-insta{
    margin-top:16px;
    transition: .4s;
}
.my-insta:hover{
    transform: scale(1.3);
}
.my-float:hover{
    transform: scale(1.3);
}
